<div class="row">
  <div class="large-8 columns large-centered">
    <h2 class="luckypot"><%= @potluck.name %></h2>

      <ul><p><em><%= @potluck.keywords.map {|keyword| keyword.name }.join(" - ") %></em></p></ul>
    <h4>Location: <%= @potluck.location %></h4>
    <h4>Date: <%= @potluck.datetime.strftime("%A, %b %d, %Y at %I:%M%p") %></h4>
      <button id="newItem" class="button">Add Item</button>
    <div id="itemForm">
      <h3>Add an item</h3>
      <form method="post" action="/new_item">
        Item:
        <input type="text" name="item[name]">
        <input type="hidden" name="item[potluck_id]" value="<%= @potluck.id %>">


      <!--This is just like how we pulled the stocks on the portfolio new/edit page
        in brokerage. they were in a bridge the same way-->
        <% Tag.all.each do |tag| %>
            <input type="checkbox"
            name="item[tag_ids][]" id="checkbox" value="<%=tag.id%>"><%= tag.name %>
              <br>
            <% end %>

          <button class="button">Create Item</button>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Tags</th>
          <th>Assigned?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @potluck.items.each do |item| %>
          <td><%= item.name %></td>
          <td><%= item.tags.map {|tag| tag.name }.join(", ") %></td>
          <td>
          <% if item.person %> <%= item.person.name %>
          <% else %>
          <a href="/item_assign/<%=item.id%>">Claim</a><%end%></td>
          <td><a href="/edit_item/<%= item.id %>">Edit</a></td>
        </tr><% end %>
      </tbody>
    </table>

  </div>
</div>


