<div class="row">
  <div class="medium-8 columns medium-centered">
    <h2 class="luckypot"><%= @potluck.name %></h2>
    <div>
      <ul class="medium-block-grid-4" id="peopleBlock">
        <% get_singles_photos.first(8).each do |picture| %>
        <li><img src="<%=picture%>"></li>
        <% end %>
      </ul>
    </div>

    <div>
      <ul>
        <p><em><%= @potluck.keywords.map {|keyword| keyword.name }.join(" - ") %></em></p>
      </ul>
      <h4>Location: <%= @potluck.location %></h4>
      <h4>Date: <%= @potluck.datetime.strftime("%A, %b %d, %Y at %I:%M%p") %>
      </h4>
      <button id="newItem" class="button">Add Item</button>
    </div>

    <div id="itemForm">
      <%= form_for Item.new, :remote => true do |f| %>
      <h2>Add Item</h2>
        <%= f.label :item %>
        <%= f.text_field :name %>
        <%= f.hidden_field :potluck_id, :value => @potluck.id %>
        <%= f.button :submit, :id => "refresh_items" %>
      <% end %>

      
<!-- Tags are not currently set up -->
        <% Tag.all.each do |tag| %>
            <input type="checkbox"
            name="item[tag_ids][]" id="checkbox" value="<%=tag.id%>"><%= tag.name %>
              <br>
            <% end %>
      </form>
    </div>

    <div id="items_table">
      <%= render "items_table" %>
    </div>

  </div>
</div>


