<div class="row">
  <div class="large-12 columns">

      <h3 class="luckypot">Item Tags</h3>
      <a href="new_tag" class="button small">New Item tag</a><br><br>
      <ul>
        <% @tags.each do |tag| %>
          <li>
            <strong><%= tag.name %></strong> <a href="/edit_tag/<%= tag.id %>">Edit</a>
          </li>
        <% end %>
      </ul>

      <h3 class="luckypot">Potluck Keyword</h3>
      <a href="#" data-reveal-id="keywordModal" class="button small">New Potluck Keyword</a><br><br>
      <ul>
        <% @keywords.each do |keyword| %>
          <li>
            <strong><%= keyword.name %></strong> <a href="/edit_keyword/<%= keyword.id %>">Edit</a>
            <a href="/keywords/<%= keyword.id %>" data-method="delete" rel="nofollow">Delete</a>
          </li>
        <% end %>
      </ul>

      <h3 class="luckypot">All Items</h3>
      <a href="new_item" class="button small">New Item</a><br><br>
      <ul>
        <% @items.each do |item| %>
          <li>
            <strong><%= item.name %></strong> <a href="/edit_item/<%= item.id %>">Edit</a> tags: <%= item.tags.map {|tag| tag.name }.join(", ") %> at potluck: <%= (item.potluck.name if item.potluck) %> and brought by <%= (item.person.name if item.person) %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

  <div id="keywordModal" class="reveal-modal" data-reveal>
    <%= form_for(@keyword, html: {"data-abide" => ""}) do |f| %>
      <h1>Enter Potluck Keyword</h1>
      <div>
        <%= f.text_area :name, :required => "" %>
        <small class="error">You must write in the box.</small>
      </div><br>
      <div>
        <%= f.submit "Save", class: 'button submit' %>
      </div>
    <% end %>
  </div>
